<nav class="navbar navbar-dark backGround">
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link"  [routerLink]="['/dashboard']" routerLinkActive="class1">Dashboard</a>
      <a class="nav-item nav-link" [routerLink]="['/services']" routerLinkActive="class1" >Services</a>
      <a class="nav-item nav-link" [routerLink]="['/oems']" routerLinkActive="class1">OEMs</a>
      <a class="nav-item nav-link" [routerLink]="['/productTypes']" routerLinkActive="class1">Product Types</a>
      <a class="nav-item nav-link" [routerLink]="['/products']" routerLinkActive="class1">Products</a>
      <a class="nav-item nav-link" [routerLink]="['/models']" routerLinkActive="class1">Models</a>
      <a class="nav-item nav-link" [routerLink]="['/search']" routerLinkActive="class1">Search</a>
    </div>
  </div>
  <!-- <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div> -->
</nav>
