<!-- <div class="card">
    <div class="card-body">
    </div>
</div> -->
<div class="container-fluid">
    <div class="card" *ngIf="!defaultAddBtn">
        <div class="card-body">
  <div class="row mb-4">
  <div class="col-md-5">
  <hr>
  </div>
  <div class="col-md-2 heading mt-2">
  <h6>Add New Model</h6>
  </div>
  <div class="col-md-5">
  <hr>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              <label for="exampleInputEmail1">Model *</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">

            </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <label for="exampleInputPassword1">Alternate Name(s)
              </label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
            </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              <label for="exampleInputEmail1"> OEM * </label>
              <select  class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>

            </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <label for="exampleInputPassword1">Product *</label>
              <select  class="form-control" id="exampleFormControlSelect2">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1"> EOSL Date *</label>
                <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

              </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputPassword1">EOL Date </label>
                <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
        </div>
      </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="form-group">
                  <label for="exampleInputEmail1"> Published Date *</label>
                  <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

                </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  <label for="exampleInputEmail1"> Start Date *</label>
                  <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

                </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  <label for="exampleInputPassword1">End Date </label>
                  <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Mark this service as active</label>
                  </div>
            </div>
            <div class="col-md-2 mb-2">
                <button type="button" class="btn btn-secondary mr-2 " (click)="addNewService()">Cancel</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
  </form>
  </div>
  </div>
  <div class="card" *ngIf="defaultAddBtn">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2 offset-md-10">
            <button type="button" class="btn btn-primary" (click)="addNewService()">Add New Model</button>
        </div>
      </div>
      </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="exampleInputEmail1"> Filter by Product Type</label>
                    <select  class="form-control" id="exampleFormControlSelect2">
                      <option>All</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>

                  </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="exampleInputPassword1">Filter by OEM </label>
                    <select  class="form-control" id="exampleFormControlSelect2">
                        <option>All</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                  </div>
            </div>
            <div class="col-md-2 mt-4">
            <button class="btn btn-primary">Search</button>
            <button class="btn btn-secondary ml-2">Clear</button>
            </div>
          </div>
        <kendo-grid
        [kendoGridBinding]="gridData"
        [pageSize]="5"
        [pageable]="true"
        [sortable]="true"
        [filterable]="true"
       >
        <kendo-grid-column field="Title" [width]="140"></kendo-grid-column>
        <kendo-grid-column field="Start Date" [width]="120"></kendo-grid-column>
        <kendo-grid-column field="End Date" [width]="100"></kendo-grid-column>
        <kendo-grid-column field="Status" [width]="130"></kendo-grid-column>
        </kendo-grid>
  </div>
  </div>
  </div>
