/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
html, body { margin: 0; padding: 0; height: 100%; }
body { font-family: "RobotoRegular",Helvetica,Arial,sans-serif; font-size: 14px; margin: 0 auto; }
my-app { display: block; box-sizing: border-box; padding: 30px; }
my-app > .k-icon.k-i-loading { font-size: 64px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.example-wrapper { min-height: 280px; align-content: flex-start; }
.example-wrapper p, .example-col p { margin: 0 0 10px; }
.example-wrapper p:first-child, .example-col p:first-child { margin-top: 0; }
.example-col { display: inline-block; vertical-align: top; padding-right: 20px; padding-bottom: 20px; }
.example-config { margin: 0 0 20px; padding: 20px; background-color: rgba(0,0,0,.03); border: 1px solid rgba(0,0,0,.08); }
.event-log { margin: 0; padding: 0; max-height: 100px; overflow-y: auto; list-style-type: none; border: 1px solid rgba(0,0,0,.08); background-color: \\#fff; }
.event-log li {margin: 0; padding: .3em; line-height: 1.2em; border-bottom: 1px solid rgba(0,0,0,.08); }
.event-log li:last-child { margin-bottom: -1px;}
.heading{
  text-align: center;
}
.k-pager-numbers .k-state-selected{
  background-color: #009fdf !important;
}

.btn-primary {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}
.btn-primary:hover {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
}
.btn-secondary {
  color: #666666;
  background-color: #f0f0f0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.15);
}
.btn-secondary:hover {
color: #666666;
background-color: #f0f0f0;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.15);

}

element.style {
}
.k-filtercell .k-filtercell-operator {
    margin-left: 4px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
<style>…</style>
.k-grid .k-filter-row td {
    white-space: nowrap;
}
.k-filter-row td, .k-filter-row th {
    border-width: 0 0 1px 1px;
    white-space: nowrap;
    padding: 8px 8px;
}
.k-grid th, .k-grid td {
    padding: 8px 12px;
    border-style: solid;
    border-color: inherit;
    outline: 0;
    font-weight: inherit;
    text-align: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}
.k-filter-row {
    line-height: 1.4285714286;
}
.k-grid thead, .k-grid tbody, .k-grid tfoot {
    text-align: left;
    border-color: inherit;
}
.k-grid table {
    margin: 0;
    width: 100%;
    max-width: none;
    border-width: 0;
    border-color: inherit;
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    outline: 0;
}
table {
    border-collapse: collapse;
}
.k-filtercell {
  width: auto;
  display: flex;
}
.k-link {
  color: #009fdf !important;
  font-weight: bold !important;
}
.k-icon {
  color: #009fdf !important;
}
.k-pager-numbers .k-state-selected {
  color: #fff !important;
  background-color: #ff6358 !important;
}
