<div class="fluid-container">
  <div class="row marginSetting">
    <div class="col-md-8 mt-2">
      <div class="card">
        <div class="card-body">
          <div class="row">
              <!-- <div class="col-md-1">
                     <label for="exampleInputEmail1"> Show</label><br>
              </div> -->
              <div class="col-md-4 mb-2">
                  Show
                     <select style="height: 25px;" [(ngModel)]="pageSizeNumber" (ngModelChange)="pageValueChange()">
                       <option value=5 >5</option>
                       <option  value=10 selected >10</option>
                       <option  value=25 >25</option>
                     </select>entries
              </div>


          </div>

          <kendo-grid
            [kendoGridBinding]="gridData"
            [pageSize]="pageSizeNumber"
            [pageable]="true"
            [sortable]="true"
            [filterable]="true"
          >
            <kendo-grid-column field="Model" [width]="140"></kendo-grid-column>
            <kendo-grid-column
              field="Product"
              [width]="120"
            ></kendo-grid-column>
            <kendo-grid-column
              field="ProductType"
              [width]="100"
            ></kendo-grid-column>
            <kendo-grid-column field="OEM" [width]="130"></kendo-grid-column>
            <kendo-grid-column field="EOSL Date" [width]="130"></kendo-grid-column>
            <kendo-grid-column field="PublishedDate" [width]="130"></kendo-grid-column>
            <kendo-grid-column field="AlternateName" [width]="130"></kendo-grid-column>
          </kendo-grid>
        </div>
      </div>
    </div>
    <div class="col-md-4 searchCard">
      <div class="row searchBoarder">
        <h6 class=""><b>Search</b></h6>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="form-group">
            <input class="form-control form-control-sm" type="text" />
          </div>
        </div>
      </div>
      <label for=""> EOSL date range</label>
      <div class="row ">
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control" type="date" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control" type="date" />
          </div>
        </div>
      </div>
      <label for=""> Published date range</label>
      <div class="row ">
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control" type="date" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control" type="date" />
            </div>
          </div>
        </div>
        <label for=""> Product Type</label>
        <div class="row ">
            <div class="col-md-12">
              <div class="form-group">
                <select class="form-control form-control-sm">
                  <option value="All" > All </option>
                </select>
              </div>
            </div>
          </div>
          <label for=""> OEM</label>
          <div class="row ">
              <div class="col-md-12">
                <div class="form-group">
                  <select class="form-control form-control-sm">
                    <option value="All" > All </option>
                  </select>

                </div>
              </div>
            </div>
            <label for=""> Product </label>
            <div class="row ">
                <div class="col-md-12">
                  <div class="form-group">
                    <select class="form-control form-control-sm">
                      <option value="All" > All </option>
                    </select>

                  </div>
                </div>
              </div>
              <div class="searchBoarder"></div>
              <div class="col-md-12 mt-2 mb-4">
                  <button type="button" class="btn btn-primary">Search</button>
                  <button type="button" class="btn btn-secondary ml-2 ">Reset</button>

              </div>
    </div>
  </div>
</div>
